<% @page_title = "Sections list"%>
<div class="list">
	<h2>Sections</h2>
	<%= link_to("Add Section", {action: 'new'}, class: 'action new')%>
	<div><%= pluralize(@sections.length, 'section') %> found</div>
	
	<table class="action list">
		<tr>
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Visible</th>
			<th>Actions</th>
		</tr>
		
		<tr class="<%= cycle('odd', 'even') %>">
			<% @sections.each do |section| %>
			<td><%= section.position %></td>
			<td><%= section.name %></td>
			<td class='center'><%= status_tag(section.visible) %></td>
			<td class='action'>
				<%= link_to('show', {action: 'show', id: section.id}, class: 'action show') %>
				<%= link_to('edit', {action: 'edit', id: section.id}, class: 'action edit') %>
				<%= link_to('delete', {action: 'delete', id: section.id}, class: 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
	
	
</div>